/* Global */

body {
    font-family: Arial, Helvetica, sans-serif;

}


/* id's */

#top {
    width:65%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#maindiv {
    margin:auto;
    overflow-x:auto;
}



#bottom {
    width:65%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}


#logo {
   float:right;
   position:absolute;
   margin-top:210px;
   margin-left:40px;
}

#bigred {
    text-align:left;
    margin-left:20px;
}

#quotetext {
    margin-left:20px;
    text-align: left;
    font-size:12px;
    color:cadetblue;
}

#whosaidit {
    margin-left:20px;
    text-align: left;
    font-size:10px;
    color:brown;
    font-weight: bold;
}


/* classes */

.center {
    margin-left:auto; 
    margin-right:auto;
}

.space {
    width:210px;
    text-align:center;
    padding:10px;
}





/* image overlay */

#overlay {
    position:relative; 
    width:210px; 
    height:268px;
}
#overlay .image,
#overlay .text {
    transition: opacity 0.1s ease-in-out;
}
#overlay .text {
    position:absolute; top:0; left:0; opacity:0;
}

#overlay:hover .image {
    opacity:0;
}
#overlay:hover .text {
    opacity:1;
}
