body {
    font-family: Arial, Helvetica, sans-serif;

}

#top {
    width:65%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#maindiv {
   width:65%;
    margin:auto;
    overflow-x:auto;
}

.space {
    width:210px;
    text-align:center;
    padding:10px;
}

#bottom {
    width:65%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#graybg {

}

#logo {
    float:right;
   position:absolute;
   margin-top:200px;
   margin-left:50px;
}

.center {
    margin-left:auto; 
    margin-right:auto;
}







/* image overlay */
#overlay {
    position:relative; 
    width:210px; 
    height:268px;
}
#overlay .image,
#overlay .text {
    transition: opacity 0.1s ease-in-out;
}
#overlay .text {
    position:absolute; top:0; left:0; opacity:0;
}

#overlay:hover .image {
    opacity:0;
}
#overlay:hover .text {
    opacity:1;
}
